#Folders
/Insuredge
/accounting
/metavisuo
/pictures
/tracker/v/tests/test.php
/test/
/.vscode/
# sub folders
/chama/nbproject
/library/nbproject
/outlook/nbproject
/tracker/nbproject
/school/nbproject
/chama/v/data
/chama/v/test
#subdirectories
outlook/v/code/*.js
#files
*.js
*.txt
