#Folders
/Insuredge
/accounting
/kentionary/
/metavisuo
/pictures
/tracker/v/tests/test.php
/test/
/svg/
/carpack/
/.vscode/
# sub folders
/chama/nbproject
/library/nbproject
/outlook/nbproject
/tracker/nbproject
/school/nbproject
/chama/v/data
/chama/v/test
#subdirectories
outlook/v/code/*.js
#files
*.js
*.txt
/chama/v/v/code/nbproject/private/
/kentionary/nbproject/private/
