body{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 5% 30% 5% 5% 1fr;
    grid-template-areas:
        "header header1 header2"
        "content main  main1"
        "content main  main1"
        "buttons button button1"
}
.header{
    display: grid;
    grid-area: header1;
    font-size: x-large;
    font-style: italic;
}
.content{
    display: grid;
    grid-area: main;
    border: 2px solid#3366ff;
}

.buttons{
    display: inline-block;
    margin-top: 0px;
    grid-area: button;
    border: 1px solid#3366ff;
}
.office_type{
    display: inline-block;
}
.btn{
    margin-top: 5px;
    margin-bottom: 0px;
    position: relative;
}
#select{
    margin-top: 2px;
}
.name{
    padding: 0px;
    margin: 0px;
}
#next{
    position: absolute;
    background-color: #0066ff;
    color: white;
    right: 0px;
}
#cancel{
    position: absolute;
    left: 0px;
    background-color: #ffff00;
}
