html {
  height: 100%;
}
/*Grid design and styling procedure*/
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 40% 40% 10%;
  grid-template-areas:
    "header header header"
    "services content content"
    "services content content"
    "footer footer footer";
}
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 30% 70%;
  /* background-color: thistle; */
}
.heading {
  grid-row: header;
}
#welcome {
  grid-area: welcome;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
}
#why {
  grid-area: why;
  background-color: thistle;
}
.services {
  grid-area: services;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
}
#content {
  grid-area: content;
  background-color:rgb(222, 240, 173);
  overflow:scroll;
}
#whatsup {
  grid-area: whatsup;
  background-color: thistle;
}

/*
* Test1
*
* Anchor link for logging in...
*
* ...Below shows a normal, unvisited link. */
.a{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
/* 
Convert the cursor to a pointer. */
.a:hover{
    cursor: pointer;
}

/*
By default the applications theme table is displayed in the 
normal mode*/
.edit{
    display: none;
}
table, th, td, tr {
  /* #ddd sets the border to a light color */
 border:1px solid #ddd;
 border-collapse:collapse;
}
/*
Specify the color to display for each table row.*/
table tr:nth-child(even){
  background-color:lightcyan;
}
/*
Tr on hover */
table tr:hover{
  background-color:rgb(102, 102, 223);
  color:white;
}
/*
Table head formatting */
th{
  padding: 5px;
  background-color: seagreen;
  color: white;
  text-align: center;
}
.TD{
  /*
  Highlight a selected field in the table with a specific color.*/
  background-color: #99ffff;
}
.TR{
 /*    
  Highlight the selected row*/
 background: greenyellow;
}


/*
Styling full columns using colgroup*/
.TH{
  background-color: cyan;
}
/*
Style entirity of a crud table */
table{
  font-size: 15px;
}
/*
Normal mode of viewing the crud page*/
.normal{
  /*
  The cursor of the normal mode is a pointer*/
  cursor:pointer;
}

/* For tracking modifications*/
td.edited>input{
  background-color: rgba(255, 0, 0, 0.247);
}

/*Mark the childre of the primary td red to show an error*/
tr.report>span{
  background-color: red;
  color: yellow;
}

/*Style our error message color to light red*/
#error, .error{
  background-color: red;
  color: white;
}