/*@font-face{
    font-family: kaushan;
    src: url(KaushanScript-Regular.ttf);
}*/
.chamas{
    display: grid;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #EEFF41, #D4E157, #E6EE9C, #F0F4C3);
    margin: 0;
    overflow-x: hidden;
    grid-template-columns: 23.1% 55% 1fr;
    grid-template-rows: 70px 80% 15% 40px;
    box-sizing: border-box;
}
p{
    padding: 0;
    margin: 0;
}
.header{
    position: relative;
    grid-column: 1/5;
    grid-row: 1/2;
    height: 100%; 
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom-left-radius: 8px;
    border-bottom: 1px solid #EEFF41;
}
.header h1{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    /*    font-family: 'kaushan';*/
    color: #6200EA;
    font-size: 45px;
    padding-top:5px;
    margin: 0;
}
.header .buttons{
    margin-top: 15px;
    grid-column: 3/3;
    grid-row: 1/2;
}
.header img{
    grid-column: 1/2;
    height: 70px;
}
/*.contain{
    grid-column: 3/3;
    grid-row: 2/3;
    height: 90%;
}*/
.logo{
    border-radius: 5px;
    border: 1px solid #00ff33;
    background-color: #0099cc;
    display: block;
}
.logo img{
    border-radius: 15px;
    height: 100%;
    padding: 4px 4px 0 4px;
}
.about{
    grid-column: 1/2;
    grid-row: 2/3;
    padding:10px;
    width: 97%;
    height: 99%;
    border-radius: 5px;
    line-height: 1.2;
    text-align: left;
    font-size:  15px;
    background-image: linear-gradient(to bottom, #EEFF41, #D4E157, #E6EE9C);
}
.about div{
    box-sizing: border-box;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 1px solid #fff;
}
.about p{
    font-style: italic;
    font-size: large;
}
.about li{
    text-align: left;
    display: block;
}
.contain{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 10px;
    width: 97%;
    height: 99%;
    border-radius: 5px;
    line-height: 1.2;
    text-align: left;
    font-size:  15px;
    /*    background-image: linear-gradient(to bottom, #EEFF41, #D4E157, #E6EE9C);*/
}
.right_pan div{
    display: none;
    box-sizing: border-box;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 1px solid #fff;
}
.right_pan p{
    font-style: italic;
    font-size: large;
}
.right_pan li{

    text-align: left;
    display: block;
}
.button {
    background-color: #00ff33;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #00ff33;
    color: white;
    padding: 8px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 8px auto;
    align-items: center;
    cursor: pointer;
}

.groups{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
   
}
/*.disabled_link{
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    color: grey;
}*/
.enabled_link{
    pointer-events: auto;
    color: blue;
    cursor: default;
}
.group{
    width: 23%;
    height: 40%;
    border: 1px solid #0099cc;
    background-color: #ffff66;
    padding: 5px;
    
    /*    display: inline-block;
         display: block;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;
        height: 40%;
        text-align: left;
        box-sizing: border-box;
        border-radius: 10px;
    */    
    line-height: 1.4;
    font-size: 15px;
    color: black;
}
.group p{
    text-align: justify; 
}
.group img{
    height: 40%; 
}
/*.sign_out{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #fff;
}
.sign_out img{
    height: 60px;
}*/
.about ul{
    list-style: none;
    display: block;
    justify-content: space-around;
}
ul li{
    padding: 10px;
}
.footer{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
    margin-left: 10px;
    background-color: #E6EE9C;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer img{
    height: 100px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 500px;
    top: 10px;
    width: 20%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #cccc00;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.access{
    background-color: #ffff66;
    display: none;
    position: fixed;
    z-index: 1;
    left: 500px;
    top: 20px;
    width: 20%;
}
.access input{
    padding: 5px;
}
.closed:hover,
.closed:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closed{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.logindetails{
    margin-top: 15px;
    display: block;
    width: 100%;
}
