*.body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 10% 5% 7% 1fr 10%;
    grid-gap: 5px;
}
.head{
    display: flex;
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #0099ff;
}
.head img{
    height: 65px;
    border-radius: 2px;
}
.name{
    grid-column: 2/3;
    grid-row:1/2;
    font-size: 30px;
    padding: 0px;
    margin-top: 8px;
}
.left_pan{
    grid-column:1/2;
    grid-row: 2/5;
    background-color: #66ccff;

}
.left_pan p{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}
.service_pan{
    grid-column: 2/4;
    grid-row: 2/5;
    background-color: #66ccff;
}
.service_pan p{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}

.show{
    grid-column: 2/4;
    grid-row: 3/4;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.show button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.show button:hover {
    background-color: #ddd;
}
.dbview{
    grid-column: 2/4;
    grid-row: 4/5;
}
section{
    display: grid;
    grid-gap: 3px;
    height: 100%;
    width: 100%;
    grid-template-columns: 66% 34%;
    grid-template-rows: 1fr;
}
.review{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: bisque;
}
section:not(.active){
    display: none;
}
.review_pane{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-column: 2/3;
    background-color: #00ff33;
}
.review_pane button{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
    text-align: left;

}
.right_panel{
    grid-column: 4/5;
    grid-row: 2/5;
    background-color: #66ccff;
}
.bottom{
    grid-column: 1/5;
    grid-row: 5/6;
    background-color: #0099ff;
}
.membr{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #66ccff;
}
.mem{
    font-style: italic;
    font-size: 20px;
    padding-bottom: 10px;
    color: #0033ff;
}
.members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    overflow-style: scrollbar;
    overflow-x: hidden;
}

.member{
    padding: 10px;
    height: 150px; 
    display: inline-block;
}
.member img{
    height: 100px;
    border-radius: 5px;
}
.member_name{
    display: block;
}
.contain{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0px;
    margin: 80px auto;
    width: 18%; 
    background-color: #00cccc;
   
        
}
#logot_div{
    display: none;
}
.contain p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}
.access{
/*    width: 15%;
    margin: 0px auto;*/
    padding: 10px;
}
.access input{
   display: block;
   width: 100%;
   border-radius: 3px;
   border: 1px solid #0099cc;
   margin-top: 10px;
   background-color: #fff;
   outline: none;
}
.mainbtn{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin-top: 5px;
}
.sub{
    margin-top: 30%;
    width: 15%;
    margin: 50px auto;
}
#loginbtn{
    background-color: #00cc00;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    margin: 0px;
    padding: 5px;
}
#signupbtn{
    background-color: #0099cc;
    color: #fff;
    width: 50%;
    border-radius: 5px;
}


