
.body{
  align-items: center;
  justify-content: center;
  margin: 0;
  display:  flex;
}
.head{
    padding: 10px;
}
.head h2{
    margin: 0;
}
.contain{
    visibility: hidden;
    width: 250px;
    height: 100%;
    background-color: white;
    border: 1px solid #0099ff;
    border-radius: 5px;
    max-width: 100%;
}
.form{
    padding: 10px 10px;
}
.form_control{
    margin-bottom: 2px;
    padding-bottom: 10px;
    position: relative;
}
.signbtn{
    width: 100%;
    display: block;
    color: black;
    background-color: #ffff00;
    padding: 5px;
    border-radius: 4px;
    border: #ffffff;
    padding: 8px;
}
.fbsign{
    width: 100%;
    margin-top: 5px;
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: #ffffff;
}
.phonesign{
    margin-top: 5px;
    background-color: #999999;
    color: white;
    display: block;
    padding: 8px; 
    width: 100%;
    border-radius: 4px;
    border: #ffffff;
}
.form_control label{
    display: inline-block;
    margin-bottom: 5px;     
}
.form_control input{
    border: 1px solid #0099ff;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 5px;
    font-size: 14px;
}
.form_control i{
    visibility: hidden;
    position: absolute;
    top: 35px;
    right: 10px;
}
/*.form_control i.fa-envelope-o{
    visibility: visible;
    position: absolute;
    top: 35px;
    left: 15px;
} */
.form_control small{
    bottom: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
}
.access small{
    bottom: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
}
.btn{
    border-radius: 5px;
    background-color: #0066ff;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #f1f1f1;
    font-size: 16px;
     
}
#btn{
  border-radius: 5px;
  background-color: #00cc00; 
  width: 100%;
  padding: 5px;
  color: #f1f1f1;
  font-size: 20px;
}
.form_control.success input{
    border-color: #00cc00;
}
.form_control.error small{
    visibility: visible;
    color: #e74c3c;
}
.form_control.error input{
    border-color: #e74c3c;
}
.form_control.success i.fa-check-circle{
    visibility: visible;
    color: #00cc00;
}
.form_control.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}
.access i{
    visibility: hidden;
    position: absolute;
    top: 35px;
    right: 10px;
}
.access.success i.fa-check-circle{
    visibility: visible;
    color: #00cc00;
}
.access.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}
.login{
    position: absolute;
}
.signup{
    position: absolute;
}
.logout{
    position: absolute;
}