[data-theme="dark"] {
    background-color: #333 !important;
    color: lightcoral;
}

[data-theme="dark"] #translate{
    background-color: darkmagenta;
    color: white;
}

[data-theme="dark"] .card-header{
    background-color: grey;
}
/*
Style the select for translating language from. */
[data-theme="dark"] #languageFrom{
    background-color: darkgrey;
}
/*
Style the select for translating to. */
[data-theme="dark"] #languageTo{
    background-color: darkgrey;
}

[data-theme="dark"] .card-body{
    background-color: darkgrey;
}

[data-theme="dark"] #wordFrom{
    background-color: #ffe4e1;
}