body {
    background-color: skyblue;
    margin-top: 1%;
}

/*
Display timed greetings to UI. */
#greetings {
    font-family: "Hanalei", cursive;
    padding-left: 2%;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 2.5px;
    word-spacing: 20px;
}

#input{
    width: 100%; 
    height: 5vh;
}

#translate{
    width: 10%;
}

#new_word{
    width: 10%;
}
/*
Shadow effect to the cards. */
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

p {
    font: 700;
}
#select1 {
    font-size: large;
}
#select2 {
    font-size: large;
}
button {
    font-size: large;
    top: 50%;
    left: 50%;
}

@media only screen and (max-width: 1024px) {
    body {
        margin-top: 10%;
    }

    #translate{
        width: 30%;
    }
    #new_word{
        width: 30%;
    }
}
